* {
    box-sizing: border-box;
}

.item {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.item button {
    margin-left: 5px;
}

.wrapper__list {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;

}

.input_affairs {
    display: flex;
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
}

.nameInput {
    width: 85%;
    height: 100%;
}

.myButton {
    width: 15%;
    height: 100%;
}

.list {
    list-style-type: none;
    width: 100%;
}